*,
*::after,
*::before {
  box-sizing: border-box;
}

.movies-list {
  display: grid;
  grid-template-columns: 454px 454px;
  column-gap: 36px;
  row-gap: 35px;
  padding: 0;
}

.movies-list-item {
  width: 454px;
  height: 281px;
  box-shadow: 0 0 20px -10px;
}

.spin {
  transform: scale(2);
  display: block;
  margin-top: 100px;
}

@media (max-width: 420px) {
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
  }

  .movies-list-item {
    height: 281px;
  }
}
